{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}
{% block base_head %}
    {% sw_include '@Storefront/storefront/page/wishlist-plugin/meta.html.twig' %}
{% endblock %}
{% block page_account_main_content %}
        {% block base_flashbags %}
            <div class="flashbags container">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}
    {#  Main Block #}
        {% set wishlist = page.wishlist.wishlist %}
        {% set wishlistId = wishlist.id %}
        <div class="account-wishlist">
            {% block page_account_address_welcome %}
                {# Header Title of Wishlist  #}
                <div class="account-welcome">
                    {% block page_account_address_welcome_headline %}
                    <div class="form-row">
                        {% set editOptions = {
                            btnClickId: "edit-name-btn",
                            showInput: "show-input",
                            showElement: "show-element",
                            input : 'wishlist-name',
                            cancelBtnId : 'btn-cancel'
                        } %}
                    
                            <div class="col-lg-8" id="wishlist-name-area" data-edit-wishlist-name data-edit-wishlist-name-options={{ editOptions|json_encode }}>
                                <h1>
                                    <div id="show-element">
                                        {{ wishlist.name | u.truncate(38, '...') }}
                                    {% if context.customer and not context.customer.guest %}
                                        <span id="edit-name-btn" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    </div>
                                    {% if (wishlistId) and (context.customer and not context.customer.guest) %}
                                        <div class="row cart-item-row" id="show-input" style="display:none">
                                            <form class="form-inline" action="{{ path('frontend.wishlistplugin.update.name', { wishlistId: wishlistId }) }}" method="POST">
                                                {{ sw_csrf('frontend.wishlistplugin.update.name') }}
                                                <div class="form-group mb-2" >
                                                    <input type="text" class="form-control" 
                                                    id="wishlist-name" 
                                                    placeholder="Enter wishlist name" 
                                                    name="name" value="{{ wishlist.name }}" 
                                                    required="required">
                                                </div>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <button class="btn btn-primary" type="submit">
                                                        Change
                                                    </button>

                                                </div>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <button class="btn btn-light" type="button" id="btn-cancel">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div
                                    {% endif %}
                                </h1>
                            </div>
                        {% block page_go_another_wishlist %}
                        {% if context.customer and not context.customer.guest %}
                            <div class="col-lg-4">
                                <div class="wishlist-action-create float-right">
                                
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Go to another wishlist
                                        </button>
                                        {% if anotherWishlist is not empty %}
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for wishlistItem in anotherWishlist %}
                                                <a class="dropdown-item" href="{{ path('frontend.wishlistplugin.detail', { wishlistId: wishlistItem.id }) }}">{{wishlistItem.name}}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                
                                </div>
                            </div>
                        {% endif %}
                        {% endblock %}
                    </div>
                    {% endblock %}
                    {% if context.customer and not context.customer.guest %}
                        {% block page_account_address_welcome_intro %}
                            <div><p>Your Recent Wishlist</div>
                            <div class="wishlist-share">
                                Share the wishlist via
                                <span>
                                    <img src="{{ asset('bundles/wishlistplugin/img/icon/fb-icon.png', 'asset') }}" class="icon-share-wishlist" data-toggle="modal" data-target="#modal_share_wishlist_url">
                                    <img src="{{ asset('bundles/wishlistplugin/img/icon/tw-icon.png', 'asset') }}" class="icon-share-wishlist" data-toggle="modal" data-target="#modal_share_wishlist_url">
                                    <img src="{{ asset('bundles/wishlistplugin/img/icon/mail-icon.png', 'asset') }}" class="icon-share-wishlist" data-toggle="modal" data-target="#modal_share_wishlist_url">
                                    {% block modal_share_wishlist_url %}
                                    <div class="modal fade" id="modal_share_wishlist_url" tabindex="-1" role="dialog" aria-labelledby="modal_share_wishlist_url" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirm-delete-all-productLabel">Using this link to share your wishlist</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" id="share-input-copy" value = "{{asset('', 'asset') }}{{ path('frontend.wishlistplugin.share', {wishlistId : wishlistId}) }}" readonly>
                                                </div>
                                                {% set copyclipboardOptions = {
                                                    inputCopy: "share-input-copy",
                                                    text : asset('', 'asset') .  path('frontend.wishlistplugin.share', {wishlistId : wishlistId})
                                                } %}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit"  value="Submit" class="btn btn-primary" data-copy-clipboard="true" data-copy-clipboard-options = {{copyclipboardOptions|json_encode}}>Copy</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    {% endblock  %}
                                </span>

                            </div>
                            <p></p>
                        {% endblock %}
                        {% if (wishlistId) %}
                            <div class="functional-area row">
                                <div class="col-5 ">
                                    {% sw_include '@Storefront/storefront/page/wishlist-plugin/search/search-box.html.twig' %}
                                </div>
                                <div class="col-3">
                                    {# <form  action="{{ path('frontend.wishlistplugin.product.delete.all', { wishlistId: wishlistId }) }}"  method="POST"> 
                                         {{ sw_csrf('frontend.wishlistplugin.product.delete.all') }}
                                        <input type="hidden" name="redirectTo" value="{{ path('frontend.wishlistplugin.detail', { wishlistId: wishlistId }) }}" />
                                        <button class="btn btn-primary" type="submit" style="width:100%">
                                            Delete all Products
                                        </button>
                                    </form> #}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete-all-product">
                                        Delete all Products
                                    </button>
                                </div>
                                <div class="col-4">
                                    <form  action="{{ path('frontend.wishlistplugin.product.add.card.all', { wishlistId: wishlistId }) }}"  method="POST" data-add-to-cart="true"> 
                                        {{ sw_csrf('frontend.wishlistplugin.product.add.card.all') }}
                                        <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas" />
                                        <button class="btn btn-primary" type="submit" style="width:100%">
                                            Add all products to cart
                                        </button>
                                    </form>
                                </div>
                                
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {# End header Title of Wishlist #}
            {% endblock %}
        </div>
    {# End Main Block #}
        
        {% block page_checkout_cart_product_table %}
            {% sw_include '@WishlistPlugin/storefront/page/wishlist/detail.html.twig' %}
        {% endblock %}
        
     {# Block For Modal Creare New Wishlist #}
    {% if (wishlistId) %}
    {% block modal_confirm_delete_all_wishlist %}
    <div class="modal fade" id="confirm-delete-all-product" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-all-productLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-delete-all-productLabel">Delete All Wishlist Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form  action="{{ path('frontend.wishlistplugin.product.delete.all', { wishlistId: wishlistId }) }}"  method="POST"> 

                {% block cms_form_contact_csrf %}
                    {{ sw_csrf('frontend.wishlistplugin.product.delete.all') }}
                {% endblock %}
                <input type="hidden" name="redirectTo" value="{{ path('frontend.wishlistplugin.detail', { wishlistId: wishlistId }) }}" />
                    Are you sure you want to delete all product's wishlist ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"  value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    {% endblock  %}
    {% endif %}
    {# End Block For Modal Creare New Wishlist #}
{% endblock %}







